* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: solid;
    height: auto;
    background-color: #000;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50px;
}

header nav ul {
    display: flex; 
    list-style-type: none; 
}

header nav ul li {
    list-style: none; 
    gap: 50px; 
}

header nav ul li a {
    text-decoration: none;
    color: #fff; 
    padding: 10px;
    transition: color 0.3s ease; 
}

header nav ul li a:hover {
    color: #c50101; 
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}   

/* Home */
.home{
    display: flex;
}

.question{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px));
    justify-content: center;
    align-items: center;
}
.question h1{
    position: relative;
    top: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    margin-inline: 30px;
    font-size: 100px;
    color: #fff;
}
.question span{
    color:#c50101;
}
.spitext{
    position: relative;
    max-width: 50%;
    margin-inline: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    line-height: 25px;
    top: 100px;
    text-wrap: wrap;
    max-width: 800px;
    font-size: 18px;
    color: #fff;
}
.button{
    position: relative;
    top: 30px;

}
.button button{
    background-color: #dd0404; 
    color: rgb(0, 0, 0);          
    border: none;              
    padding: 15px 30px;       
    font-size: 1rem;          
    font-weight: bold;        
    border-radius: 8px;        
    cursor: pointer;          
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}
.button button:hover{
    color: #c50101;
    background-color: #ffffff; 
    transform: translateY(-2px); 
}
.hang-spidy2 img{
    display: block;
    width: 150px;
    position: relative;
    top: 30px;
}
.spimage img{
    display: block;
    position: relative;
    top: 100px;
    max-width: 100%;
} 